<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='../js/crudSP.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>

    <h1>CRUD</h1>
    <form>
        <input type="text" id="title" placeholder="Title"><br>
        <input type="text" id="Nombre" placeholder="Nombre"><br>
        <input type="date" id="fechaNacimiento"><br>
        <input type="number" id="telefono" placeholder="telefono"><br>
        
        <input type="radio" name="action" id="action" value="Create">Insert<br>
        <input type="radio" name="action" id="action" value="Read">Read<br>
        <input type="radio" name="action" id="action" value="Update">Update<br>
        <input type="radio" name="action" id="action" value="Delete">Delete<br>
        <input type="button" id="btnClick" value="Dale Candela"><br>

    </form>
    
</body>
</html>